<div class="card">
    <img [src]="formateurAAfficher.avatar" [alt]=" 'avatar de ' + formateurAAfficher.firstname">
    <div>{{formateurAAfficher.firstname}} {{formateurAAfficher.lastname}}</div>
    <div *ngIf="formateurAAfficher.available">✅</div>
    <div *ngIf="!formateurAAfficher.available">❌</div>
    <button (click)="sendName()" [disabled]="!formateurAAfficher.available">Moi</button>
</div>