<h1>Demo</h1>
<div>
    <h2>Bindings</h2>
    <p>Bonjour {{prenom}} {{nom}}</p>
    <p><input [placeholder]="monPlaceholder" type="text" [(ngModel)]="nom"></p>
    <button [disabled]="buttonDisabled">Click Me</button>
    <button (click)="toggleButtonDisab()">Actif/Inactif</button>
</div>

<div>
    <h2>Directives</h2>
    <div [ngStyle]="{ 'background-color' : monBg}">Hello World</div>
    <div [ngClass]="{ 'gros' : isGros }">Mon texte</div>
    <button (click)="toggleGros()">Gros/Pas Gros</button>

    <div *ngIf="jour">🌞 Jour 🌞</div>
    <div *ngIf="!jour">🌜 Nuit 🌛</div>
    <button (click)="toggleJour()">Jour/Nuit</button>

    <div>
        <input type="text" [(ngModel)]="boisson">
        <div [ngSwitch]="boisson">
            <div *ngSwitchCase=" 'café' ">Voici votre café</div>
            <div *ngSwitchCase=" 'macciato' ">Voici votre macciato</div>
            <div *ngSwitchCase=" 'capuccino' ">Voici votre capuccino</div>
            <div *ngSwitchDefault>Veuillez selectionner une boisson</div>
        </div>
    </div>

    <div class="flex">
    <div *ngFor="let formateur of formateurs">
        <img [src]="formateur.avatar" [alt]=" 'avatar de ' + formateur.firstname">
        <div>{{formateur.firstname}} {{formateur.lastname}}</div>
        <div *ngIf="formateur.available">✅</div>
        <div *ngIf="!formateur.available">❌</div>

    </div>
</div>

    <div>
        <h2>Input & Output</h2>
        <p>Vous avez selectionné {{formateurDuJour}}</p>
        <div class="flex">
            <div *ngFor="let formateur of formateurs">
                <app-card [formateurAAfficher]="formateur" (onSelect)="changeFormateur($event)" ></app-card>
            </div>
        </div>
    </div>

    <div>
        <h2>Services - Fake Auth</h2>
        <p>Bienvenue {{connectedUser?.firstname}}</p>
        <app-connect></app-connect>
    </div>
</div>