<div>
    <div *ngIf="!connectedUser">
        <input type="text" placeholder="Votre login" [(ngModel)]="login">
        <input type="password" placeholder="Votre mot de passe" [(ngModel)]="pwd">
        <button (click)="connect()">Se connecter</button>
    </div>

    <div *ngIf="connectedUser">
        <p>Bonjour {{connectedUser.firstname}} </p>
        <button (click)="disconnect()">Se déconnecter</button>
    </div>
</div>
